body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #9f9f9f;
}

header {
    margin-left: calc((100% - 800px) / 2);
    margin-right: calc((100% - 800px) / 2); 
    display: inline-block; 
    width: 800px; 
    background-color: #f8f8f8;
    float: left;
}

header > img {
    height: 50px;
    display: inline-block;
    float: left;
    height: 50px;
}

nav {
    display: inline-block;
    float: right;
    margin-top: 7px;
}

a {
    display: inline-block;
    float: left;
    color: #9f9f9f;
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: 3px solid transparent;
}

a:last-of-type {
    margin-left: 15px;
    border-color: darkgrey;
    border-radius: 500px;
}

main {
    background-color: #f8f8f8;
    margin-left: calc((100% - 800px) / 2);
    margin-right: calc((100% - 800px) /2);
    display: inline-block;
    width: 800px;
    float: left;
    margin-top: 20px; 
}
div {
    display: inline-block;
    width: 38%;
    margin-left: 4%;
    float: left;
    margin-top: 40px;
}

h1 {
    display: inline-block;
    margin: 0;
    font-size: 90px;
}

p {
    display: inline-block;
    margin: 0;
    font-size: 22px;
}

main > img {
    display: inline-block;
    width: 46%;
    margin-left: 8%;
}